/* Reset */
* {
	outline: none;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* Colors */
:root {
	--very-dark-blue: hsl(233, 47%, 7%);
	--dark-desaturated-blue: hsl(244, 38%, 16%);
	--soft-violet: hsl(277, 64%, 61%);
	--white: hsl(0, 0%, 100%);
	--slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
	--slightly-transparent-white-stats: hsla(0, 0%, 100%, 0.6);
}

/* General containers */
body {
	min-height: 100vh;
	background-color: var(--very-dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	width: 1110px;
	background-color: var(--dark-desaturated-blue);
	display: grid;
	grid-template-areas: 'info image';
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 446px;
	border-radius: 5px;
}

/* Info side */

.info-container {
	padding: 75px 100px 60px 70px;
	grid-area: info;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title-and-description {
	display: flex;
	flex-direction: column;
}

h1,
.insights-text {
	font-family: 'Inter', sans-serif;
	font-size: 35px;
	letter-spacing: 0.7;
}

h1 {
	line-height: 44px;
	margin-bottom: 30px;
	color: var(--white);
}

.insights-text {
	color: var(--soft-violet);
	display: inline;
}

.description {
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	letter-spacing: 0.2;
	line-height: 25px;
	color: var(--slightly-transparent-white-paragraph);
}

.stats-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.stats-container > div {
	display: flex;
	flex-direction: column;
}

.stats-container > div p:first-of-type {
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: -1.3;
	line-height: 25px;
	color: var(--white);
	padding-bottom: 10px;
}

.stats-container > div p:last-of-type {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 13px;
	letter-spacing: 2.7;
	line-height: 25px;
	color: var(--slightly-transparent-white-stats);
}

.image-container {
	width: 100%;
	position: relative;
}

img,
.image-container div {
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-ms-border-radius: 0 5px 5px 0;
	-o-border-radius: 0 5px 5px 0;
}

img {
	width: 100%;
	height: 446px;
	object-fit: cover;
	filter: contrast(55%);
	-webkit-filter: contrast(55%);
}

.image-container div {
	background-color: var(--soft-violet);
	mix-blend-mode: multiply;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	grid-area: image;
}

@media screen and (max-width: 1150px) {
	article {
		width: 95%;
	}

	.info-container {
		padding: 75px 65px 60px 55px;
	}
}

@media screen and (max-width: 1030px) {
	.info-container {
		padding: 55px 65px 40px 55px;
	}

	h1,
	.insights-text {
		font-size: 27px;
	}
}

@media screen and (max-width: 950px) {
	body {
		align-items: start;
	}

	article {
		width: 327px;
		grid-template-areas: 'image' 'info';
		grid-template-columns: 1fr;
		grid-template-rows: 240px 1fr;
		margin: 88px 0;
	}

	.info-container {
		padding: 40px 30px;
		justify-content: start;
	}

	h1,
	.description {
		text-align: center;
	}

	h1 {
		margin-bottom: 15px;
		line-height: 30px;
	}

	.description {
		margin-bottom: 45px;
	}

	.stats-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 30px;
		justify-items: center;
	}

	.stats-container > div {
		align-items: center;
	}

	.stats-container > div p:first-of-type {
		font-size: 22px;
		padding-bottom: 5px;
	}

	img,
	.image-container div {
		width: 327px;
		height: 240px;
		border-radius: 5px 5px 0 0;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		-ms-border-radius: 5px 5px 0 0;
		-o-border-radius: 5px 5px 0 0;
	}
}
